# ai-training/python/requirements.txt

torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
transformers
datasets
midiutil
pretty_midi
librosa
numpy
pandas
scikit-learn
mido
matplotlib
Pillow